#s_06 {
    .wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            z-index: -5;
        }

        .txt {
            position: absolute;
            left: 15%;
            top: 14%;
            z-index: 11;
            width: 30%;
            p {
                color: #BF2323;
                font-size: 1.2vw;
                font-family: league-gothic, sans-serif;
                font-weight: 400;
                font-style: normal;
            }


        }

        .videobg {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            // left: 0;

            .ruVid {
                position: absolute;
                /*! top: 10; */
                right: 0;
                min-width: 100%;
                min-height: 100%;
                /* width: auto;
                height: auto; */
                width: 100%;
                height: 100%;
                z-index: 3;
            }
        }

        .theater {
            position: absolute;
            left: 0;
            z-index: 2;
            background-color: black;
            opacity: .8;
            width: 100%;
            height: 100%;

            p {
                font-size: 1.5vw;
                padding: 1%;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
        
        .theatertxt {
            position: absolute;
            right: 10%;
            width: 25%;
            z-index: 3;
            background-color:#BF2323;
            margin-top: 5%;
            padding: 1%;
            opacity: 0;
        }
        
    }
}



// .s_06rupaulimg {
//     position: absolute;
//     left: 15%;
//     height: 20%;
//     margin-top: 3%;
// }