.s_01bluebar {
    width: 100%;
    height: 10%;
    background-color: #071957;
}

#s_01 {

    .s_01wrapper {
        margin-left: 25%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row;
        flex-grow: 1;

        .s_01header {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 100%;

            .img2 {
                position: absolute;
                right: 0;
                bottom: -200px;
                z-index: 100;
            }

            .img1 {
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                margin: 0;
                padding: 0;
            }
        }

        .s_01txtblk {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            position: absolute;
            left: 30%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 60%;
            width: 20%;
            z-index: 1000;

            p {
                margin: 0px;
                // margin-top: 1%;
                // margin-bottom: 1%;
                font-size: 1vw;
                text-shadow: #333 1px 1px 1px;
                padding: 1%;


            }

            .infoBlock {
                padding: 2%;
                background-color: #071957;
                z-index: 1000;

                .imgBlock {
                    width: 200px;
                    height: 200px;
                    background-color: #fff;
                    border: 3px #071957 solid;
                    position: absolute;
                    left: -150px;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    overflow: hidden;
                }

            }

        }

        .right {
            .imgBlock {
                left: auto;
                right: -150px;
            }

            p {
                padding-left: 0;
                padding-right: 100px;
            }
        }
    }
}