* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0px; }

body,
html {
  width: 100%;
  height: 100%; }

body {
  background-color: #fff;
  color: #333;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  overflow-x: hidden; }

.hide {
  display: none; }

.header h1 {
  position: absolute;
  right: 0;
  margin-top: 10%;
  z-index: 1;
  color: black;
  background-color: white;
  text-transform: uppercase;
  font-size: 4vw;
  width: 25%;
  padding: 2%;
  z-index: 1000; }

/* // ###############
//
// GENERAL BODY TYPE STYLES
//
// ############### */
h1 {
  font-family: 'GlacialIndifferenceRegular', sans-serif;
  font-weight: bold;
  font-style: normal; }

p {
  font-family: 'GlacialIndifferenceRegular', sans-serif;
  font-weight: regular;
  font-style: normal;
  color: white; }

/* // ###############
//
// NAVIGATION STYLES
//
// ############### */
nav {
  position: fixed;
  top: 10%;
  left: 2%;
  z-index: 10000;
  height: 80%;
  width: 25%; }
  nav .navLine {
    width: .15%;
    background-color: white;
    height: 59%;
    position: fixed;
    left: 2.3%;
    top: 20%;
    z-index: 0; }
  nav a {
    font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: regular;
    font-style: normal;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap; }
    nav a .navCirs {
      background-color: white;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      margin: 0;
      padding: 0; }
    nav a p {
      padding-left: 10px;
      font-size: 16px; }
  nav a:hover {
    color: red; }
  nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    height: 100%; }
  nav li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    /* justify-content: space-between; */
    /* padding: 15%; */ }

/* // ###############################
//
// PAGE CONTENT
//
// ################################## */
/* // ###############
//
// HEADER STYLES
//
// ############### */
header {
  position: relative;
  width: 100%;
  height: 100%;
  background: #3b5ccc;
  z-index: 1;
  overflow: hidden; }
  header h1 {
    font-size: 10vw;
    color: white;
    padding: 0;
    margin: 0;
    line-height: 15vh; }
  header h2 {
    font-size: 10vw;
    color: white;
    padding: 0;
    margin: 0;
    line-height: 18vh; }
  header img {
    position: absolute;
    left: -8%;
    height: 100%;
    z-index: 10; }
  header .textHead {
    position: absolute;
    left: 65vw;
    top: 15vh;
    z-index: 2; }
  header .descriptionHead {
    z-index: 10;
    position: absolute;
    left: 73vw;
    top: 38vh;
    width: 20%; }
    header .descriptionHead p {
      font-size: 25px;
      color: white; }
  header .scrollDownInd {
    z-index: 10;
    position: absolute;
    left: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    width: 10%;
    bottom: 15vh; }
    header .scrollDownInd p {
      color: white;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      -ms-flex-line-pack: center;
      align-content: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
    header .scrollDownInd svg {
      -ms-flex-line-pack: center;
      align-content: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      -webkit-animation-name: svgblink;
      animation-name: svgblink;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
  header .blueColors {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-flow: row-reverse;
    flex-flow: row-reverse;
    z-index: 0; }
    header .blueColors .rgtBlue {
      width: 60%;
      background-color: #071957; }
    header .blueColors .mdlblue {
      width: 25%;
      background-color: #223D81; }
    header .blueColors .lftBlue {
      width: 15%;
      background-color: #3B5CCC; }

@-webkit-keyframes svgblink {
  50% {
    opacity: .1;
    margin-top: 5px; }
  100% {
    opacity: 1;
    margin-top: 0px; } }

@keyframes svgblink {
  50% {
    opacity: .1;
    margin-top: 5px; }
  100% {
    opacity: 1;
    margin-top: 0px; } }

/* // ###############
//
// MAIN SECTIONS
//
// ############### */
section {
  position: relative;
  width: 100%;
  height: 100%;
  background: #3b5ccc;
  z-index: 1;
  overflow: hidden; }

/* // ###############
//
// S_01 1: RELIGIOUS ERA
//
// ############### */
.s_01bluebar {
  width: 100%;
  height: 10%;
  background-color: #071957; }

#s_01 .s_01wrapper {
  margin-left: 25%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  #s_01 .s_01wrapper .s_01header {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%; }
    #s_01 .s_01wrapper .s_01header .img2 {
      position: absolute;
      right: 0;
      bottom: -200px;
      z-index: 100; }
    #s_01 .s_01wrapper .s_01header .img1 {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      margin: 0;
      padding: 0; }
  #s_01 .s_01wrapper .s_01txtblk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    left: 30%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 80%;
    width: 20%;
    z-index: 1000; }
    #s_01 .s_01wrapper .s_01txtblk p {
      margin: 0px;
      font-size: 1vw;
      text-shadow: #333 1px 1px 1px;
      padding: 1%; }
    #s_01 .s_01wrapper .s_01txtblk .infoBlock {
      padding: 2%;
      background-color: #071957;
      z-index: 1000; }
      #s_01 .s_01wrapper .s_01txtblk .infoBlock .imgBlock {
        width: 200px;
        height: 200px;
        background-color: #fff;
        border: 3px #071957 solid;
        position: absolute;
        left: -150px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        border-radius: 50%;
        overflow: hidden; }
  #s_01 .s_01wrapper .right .imgBlock {
    left: auto;
    right: -150px; }
  #s_01 .s_01wrapper .right p {
    padding-left: 0;
    padding-right: 100px; }

/* // ###############
//
// S_02 2: VAUDEVILLE *INCOMPLETE*
//
// ############### */
#s_02 {
  background-image: url("../images/3prohibition/texture.png");
  background-repeat: repeat; }
  #s_02 .s_02wrapper {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    z-index: 100;
    margin-left: 25%; }
    #s_02 .s_02wrapper video {
      position: absolute;
      /*! top: 10; */
      right: 0;
      min-width: 100%;
      min-height: 100%;
      /* width: auto;
            height: auto; */
      width: 100%;
      height: 100%;
      z-index: 1; }
    #s_02 .s_02wrapper .s_02txtline {
      font-size: 3vw;
      text-shadow: #333 1px 1px 1px;
      z-index: 1000; }
      #s_02 .s_02wrapper .s_02txtline ul {
        list-style-type: none; }
      #s_02 .s_02wrapper .s_02txtline .line01 {
        position: absolute;
        left: 15%;
        margin-top: auto;
        margin-bottom: auto; }
      #s_02 .s_02wrapper .s_02txtline .line02 {
        position: absolute;
        left: 15%;
        margin-top: auto;
        margin-bottom: auto; }
      #s_02 .s_02wrapper .s_02txtline .line03 {
        position: absolute;
        left: 15%;
        margin-top: auto;
        margin-bottom: auto; }

/* // ###############
//
// S_03 3: PROHIBITION
//
// ############### */
#s_03 .s_03wrapper {
  background-image: url("../images/3prohibition/texture.png");
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  /* margin-left: 25%; */ }

#s_03 p {
  font-family: itc-american-typewriter-cond, serif;
  font-weight: 700;
  font-style: normal; }

#s_03 .scene01 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0; }
  #s_03 .scene01 .img01 {
    z-index: 10;
    position: absolute;
    left: 25%;
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  #s_03 .scene01 .img02 {
    z-index: 10;
    position: absolute;
    left: 25%;
    margin-top: 15%;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    z-index: 9; }
  #s_03 .scene01 .img03 {
    z-index: 10;
    position: absolute;
    left: 30%;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
    z-index: 9;
    margin-top: 2%; }
  #s_03 .scene01 .txt {
    position: absolute;
    background-color: black;
    left: 50%;
    margin-top: 23%;
    width: 30%;
    padding: 1%;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    font-size: 1.5vw; }

#s_03 .scene02 .img01 {
  z-index: 10;
  position: absolute;
  right: 25%;
  /* top: 30%; */
  margin-top: 15%;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  z-index: 9; }

#s_03 .scene02 .txt {
  position: absolute;
  background-color: black;
  left: 60%;
  margin-top: 35%;
  width: 30%;
  padding: 1%;
  font-size: 1.5vw; }

#s_03 .scene03 .img01 {
  z-index: 10;
  position: absolute;
  height: 60%;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  z-index: 9;
  margin-top: 10%; }

#s_03 .scene03 .txt {
  position: absolute;
  background-color: black;
  left: 60%;
  margin-top: 35%;
  width: 30%;
  padding: 1%;
  font-size: 1.5vw;
  z-index: 12; }

#s_03 .scene04 .img01 {
  z-index: 10;
  position: absolute;
  height: 40%;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
  z-index: 9;
  left: 35%;
  margin-top: 25%; }

#s_03 .scene04 .txt {
  position: absolute;
  background-color: black;
  left: 40%;
  margin-top: 20%;
  width: 30%;
  padding: 1%;
  font-size: 1.5vw;
  z-index: 12; }

#s_03 .scene05 .img01 {
  z-index: 10;
  position: absolute;
  /* height: 40%; */
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  z-index: 9;
  left: 15%;
  margin-top: 15%; }

#s_03 .scene05 .img02 {
  z-index: 10;
  position: absolute;
  /* height: 40%; */
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  z-index: 9;
  left: 55%;
  margin-top: 10%; }

#s_03 .scene05 .txt {
  position: absolute;
  background-color: black;
  left: 20%;
  margin-top: 40%;
  width: 30%;
  padding: 1%;
  font-size: 1.5vw;
  z-index: 12; }

/* // ###############
//
// S_04 4: 1960s AND MAFIA
//
// ############### */
#s_04 {
  background-image: url("../images/4stonewall/bg.jpg");
  background-size: cover; }
  #s_04 .wrapper {
    width: 100%;
    height: 100%; }
    #s_04 .wrapper .imagecover {
      position: absolute;
      left: 0;
      background-color: black;
      opacity: .8;
      width: 100%;
      height: 100%;
      z-index: 0; }
    #s_04 .wrapper p {
      font-family: itc-american-typewriter-cond, serif;
      font-weight: 700;
      font-style: normal;
      background-color: white;
      color: black;
      font-size: 1vw;
      padding: 1%; }
    #s_04 .wrapper .blk01 {
      position: absolute;
      left: 25%;
      margin-top: 10%; }
    #s_04 .wrapper .blk02 {
      position: absolute;
      left: 35%;
      margin-top: 20%; }
    #s_04 .wrapper .blk03 {
      position: absolute;
      left: 20%;
      margin-top: 30%; }
    #s_04 .wrapper .blk04 {
      position: absolute;
      left: 25%;
      margin-top: 10%; }
    #s_04 .wrapper .blk05 {
      position: absolute;
      left: 15%;
      margin-top: 22%; }
    #s_04 .wrapper .blk06 {
      position: absolute;
      left: 20%;
      margin-top: 35%; }
    #s_04 .wrapper .blk07 {
      position: absolute;
      left: 25%;
      margin-top: 10%; }
    #s_04 .wrapper .blk08 {
      position: absolute;
      left: 15%;
      margin-top: 22%; }

/* // ###############
//
// S_05 5: MOVIE MAINSTREAM
//
// ############### */
#s_05 .s_05wrapper {
  width: 100%;
  height: 100%;
  background-color: #130F0E; }
  #s_05 .s_05wrapper .rocky .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1; }
  #s_05 .s_05wrapper .rocky .txt {
    position: absolute;
    left: 10%;
    z-index: 12;
    margin-top: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap; }
    #s_05 .s_05wrapper .rocky .txt p {
      font-family: league-gothic, sans-serif;
      font-weight: 400;
      font-style: normal;
      color: #EE1C25;
      font-size: 1.5vw;
      text-transform: uppercase;
      width: 26%;
      padding: 1%; }
  #s_05 .s_05wrapper .paris .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 0; }
  #s_05 .s_05wrapper .paris .txt {
    position: absolute;
    left: 41.57%;
    z-index: 12;
    margin-top: 26%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap; }
  #s_05 .s_05wrapper .paris p {
    font-family: league-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #EE1C25;
    font-size: 1.8vw;
    text-transform: uppercase;
    width: 46%;
    padding: 1%; }

/* // ###############
//
// S_06 6: RUPAUL
//
// ############### */
#s_06 .wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  #s_06 .wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -5; }
  #s_06 .wrapper .txt {
    position: absolute;
    left: 15%;
    top: 14%;
    z-index: 11;
    width: 30%; }
    #s_06 .wrapper .txt p {
      color: #BF2323;
      font-size: 1.2vw;
      font-family: league-gothic, sans-serif;
      font-weight: 400;
      font-style: normal; }
  #s_06 .wrapper .videobg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%; }
    #s_06 .wrapper .videobg .ruVid {
      position: absolute;
      /*! top: 10; */
      right: 0;
      min-width: 100%;
      min-height: 100%;
      /* width: auto;
                height: auto; */
      width: 100%;
      height: 100%;
      z-index: 3; }
  #s_06 .wrapper .theater {
    position: absolute;
    left: 0;
    z-index: 2;
    background-color: black;
    opacity: .8;
    width: 100%;
    height: 100%; }
    #s_06 .wrapper .theater p {
      font-size: 1.5vw;
      padding: 1%;
      text-transform: uppercase;
      font-weight: bold; }
  #s_06 .wrapper .theatertxt {
    position: absolute;
    right: 10%;
    width: 25%;
    z-index: 3;
    background-color: #BF2323;
    margin-top: 5%;
    padding: 1%;
    opacity: 0; }

#s_07 {
  background-color: #BF2323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center; }
  #s_07 h1 {
    font-family: voltage, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 5vw; }
  #s_07 a p {
    font-size: 2vw;
    text-decoration: none; }
